<!DOCTYPE html>
<html>
<head>
    <title>Изменить данные</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>.field{width:200px;}</style>
</head>
<body>
    <h1>Изменить данные</h1>
    <form action="/edit" method="POST">
        <input type="hidden" name="id" value="{{manga.id}}" />
        
        <label>Название</label><br>
        <input name="name" class="field" value="{{manga.name}}" /><br><br>

        <label>Автор</label><br>
        <input name="author" class="field" value="{{manga.author}}" /><br><br>
        
        <label>Год выпуска</label><br>
        <input name="releaseYear" type="number" class="field" min="1900" max="2050" value="{{manga.releaseYear}}" /><br><br>

        <label>Статус</label><br>
        <input name="status" class="field" value="{{manga.status}}" /><br><br>

        <label>Рейтинг</label><br>
        <input name="rating" type="number" class="field" min="0" max="10" step="0.01" value="{{manga.rating}}" /><br><br>
        
        <input type="submit" value="Сохранить" />
    </form>
    <br>
    <a href="/">На главную</a>
</body>
<html>